@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Roboto Mono',Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light ;
  color:  rgba(255, 255, 255, 0.87);
  background-color:   #242424 ;
/* #242424 #0f172a*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.loader {
    --uib-size: 40px;
    --uib-color: white;
    --uib-speed: 0.8s;
    --uib-stroke: 5px;
    --mask-size: calc(var(--uib-size) / 2 - var(--uib-stroke));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    -webkit-mask: radial-gradient(
      circle var(--mask-size),
      transparent 99%,
      #ffffff 100%
    );
    transition: all 0.5s;
    mask: radial-gradient(circle var(--mask-size), transparent 99%, white 100%);
    background-image: conic-gradient(transparent 25%, var(--uib-color));
    animation: spin calc(var(--uib-speed)) linear infinite;
    border-radius: 50%;
}

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


